.version.my_profile /* version checker */
{
	color: #0000EE;
	background-color: #8082B9;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	border-width: 0px;
	margin-left: auto;
	background-image: none;
	border-color: #000000;
	margin-right: auto;
	width: 100%;
	z-index: 1;
}

#u100:hover
{
	margin: 0px;
}

#u161
{
	left: 18px;
	position: relative;
	width: 224px;
	margin-right: -10000px;
}

#u161:hover
{
	margin-left: 0px;
	width: 224px;
	min-height: 0px;
	margin-right: -10000px;
}

#u161_img
{
	padding-right: 1px;
}

#top
{
	position: relative;
	left: 791px;
	width: 22px;
	margin-right: -10000px;
}

#pu632
{
	width: 100%;
	margin-right: -10000px;
}

#u632,#u632-bw
{
	z-index: 2;
}

#u616
{
	z-index: 3;
	min-height: 61px;
}

#u616_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u710-6
{
	z-index: 14;
	position: relative;
	min-height: 61px;
	margin-right: -10000px;
}

#u698
{
	margin-left: 100%;
	z-index: 4;
	position: relative;
	margin-top: 16px;
	margin-right: -10000px;
}

#u640
{
	margin-left: 100%;
	z-index: 5;
	position: relative;
	margin-right: -10000px;
}

#u645
{
	margin-left: 100%;
	z-index: 6;
	position: relative;
	width: 14px;
	margin-right: -10000px;
}

#u645:hover
{
	width: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 100%;
}

#u646
{
	z-index: 7;
}

#u643
{
	left: -32px;
	margin-left: 100%;
	z-index: 8;
	position: relative;
	width: 32px;
	margin-right: -10000px;
}

#u643:hover
{
	left: -32px;
	width: 32px;
	min-height: 0px;
	margin: 0px -10000px 0px 100%;
}

#u644
{
	z-index: 9;
}

#u694-4
{
	margin-left: 100%;
	z-index: 10;
	min-height: 22px;
	position: relative;
	width: 74px;
	margin-top: 7px;
	margin-right: -10000px;
}

#u616-bw
{
	z-index: 3;
	min-height: 61px;
	margin-top: 59px;
}

#widgetu1083
{
	height: 74px;
	margin-left: 50%;
	z-index: 20;
	position: relative;
	width: 0.01px;
	margin-right: -10000px;
}

#widgetu1088
{
	position: relative;
	margin-right: -10000px;
	z-index: 21;
	height: 45px;
}

#widgetu1088.fld-err-st
{
	min-height: 0px;
	height: 45px;
	margin: 0px -10000px 0px 0px;
}

#u1091-4
{
	z-index: 22;
	min-height: 20px;
	position: relative;
	width: 107px;
	margin-right: -10000px;
}

#widgetu1088.fld-err-st #u1091-4
{
	margin-left: 0px;
	min-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 107px;
	margin-bottom: 0px;
	margin-right: -10000px;
}

#u1090-5
{
	padding: 0px;
	z-index: 26;
	position: relative;
	width: 340px;
	min-height: 45px;
	margin-right: -10000px;
}

#widgetu1088.fld-err-st #u1090-5
{
	min-height: 45px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 340px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1088_input,#widgetu1088_prompt
{
	width: 340px;
	min-height: 45px;
	padding: 0px;
}

#widgetu1088.fld-err-st #widgetu1088_input,#widgetu1088.fld-err-st #widgetu1088_prompt
{
	padding-bottom: 0px;
	padding-top: 0px;
}

#u1086-4
{
	z-index: 31;
	min-height: 25px;
	position: relative;
	width: 340px;
	margin-top: 48px;
	margin-right: -10000px;
}

#u1085-4
{
	z-index: 35;
	min-height: 25px;
	position: relative;
	width: 340px;
	margin-top: 48px;
	margin-right: -10000px;
}

#u1084-4
{
	z-index: 39;
	min-height: 25px;
	position: relative;
	width: 340px;
	margin-top: 48px;
	margin-right: -10000px;
}

#u1087-21
{
	z-index: 43;
	position: relative;
	width: 101px;
	min-height: 45px;
	margin-right: -10000px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 901px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 613px;
		max-width: 1200px;
	}

	#u100
	{
		z-index: 75;
		min-height: 62px;
	}

	#u100:hover
	{
		min-height: 62px;
	}

	#u161
	{
		z-index: 76;
		margin-bottom: -1px;
		margin-top: -1px;
	}

	#u161:hover
	{
		margin-bottom: -1px;
		margin-top: -1px;
	}

	#u248
	{
		z-index: 85;
		width: 358px;
		position: relative;
		margin-right: -10000px;
		margin-top: -1px;
		margin-left: 100%;
		left: -796px;
	}

	#u236
	{
		z-index: 86;
		width: 239px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -358px;
	}

	#u237
	{
		z-index: 91;
		width: 120px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -239px;
	}

	#u237_states
	{
		width: 120px;
		height: 63px;
	}

	#u238
	{
		z-index: 88;
		height: 63px;
		width: 120px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -120px;
	}

	#u245
	{
		z-index: 94;
		height: 62px;
		width: 120px;
		position: relative;
		margin-right: -10000px;
		margin-top: 1px;
		margin-left: 100%;
		left: -120px;
	}

	#top
	{
		margin-top: -1px;
	}

	#u143
	{
		z-index: 78;
		width: 239px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -239px;
	}

	#u137
	{
		z-index: 83;
		height: 62px;
		width: 120px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -239px;
	}

	#u103
	{
		z-index: 80;
		height: 62px;
		width: 120px;
		position: relative;
		margin-right: -10000px;
		margin-left: 100%;
		left: -120px;
	}

	#u100-bw
	{
		z-index: 75;
		min-height: 62px;
	}

	#u632
	{
		min-height: 59px;
		padding-bottom: 81px;
	}

	#u100_align_to_page,#u632_align_to_page
	{
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	#u1126
	{
		z-index: 64;
		position: relative;
		margin-right: -10000px;
		left: 26px;
		width: 26.25%;
	}

	#u1069-5
	{
		z-index: 65;
		min-height: 59px;
		position: relative;
		margin-right: -10000px;
		width: 44.45%;
	}

	#u1077-5
	{
		z-index: 70;
		min-height: 59px;
		position: relative;
		margin-right: -10000px;
		left: 175px;
		width: 44.45%;
	}

	#u1069-5:hover,#u1077-5:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 59px;
		width: 44.45%;
		margin: 0px -10000px 0px 0px;
	}

	#u632-bw
	{
		min-height: 59px;
	}

	#u710-6
	{
		width: 334px;
		left: 18px;
	}

	#u698
	{
		width: 145px;
		left: -171px;
	}

	#u694-4
	{
		left: -145px;
	}

	#u640
	{
		width: 56px;
		left: -56px;
	}

	#u645
	{
		left: -56px;
	}

	#u645:hover
	{
		left: -56px;
	}

	#widgetu1083
	{
		margin-top: 2px;
		left: -194px;
	}

	#widgetu1088
	{
		width: 438px;
	}

	#widgetu1088.fld-err-st
	{
		width: 438px;
	}

	#u1091-4
	{
		margin-top: 14px;
	}

	#widgetu1088.fld-err-st #u1091-4
	{
		margin-top: 14px;
	}

	#u1090-5,#u1086-4
	{
		left: 98px;
	}

	#u1085-4
	{
		left: 98px;
	}

	#u1084-4
	{
		left: 98px;
	}

	#u1087-21
	{
		left: 447px;
	}

	.verticalspacer
	{
		min-height: 411px;
	}
}

@media (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		min-height: 600px;
		max-width: 900px;
	}

	#pu100
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: -1px;
	}

	#u100
	{
		z-index: 64;
		height: 62px;
	}

	#u100:hover
	{
		height: 62px;
		min-height: 0px;
	}

	#u100-bw
	{
		z-index: 64;
		margin-top: 1px;
		height: 62px;
	}

	#u256
	{
		z-index: 66;
	}

	#u259-3
	{
		z-index: 67;
		min-height: 63px;
	}

	#u259-3.AccordionPanelTabOpen
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 63px;
		margin: 0px 0px 0px 0%;
	}

	#u257
	{
		z-index: 70;
	}

	#u433
	{
		z-index: 72;
		height: 62px;
		width: 120px;
		position: relative;
		margin-left: 50%;
		left: -60px;
	}

	#u468
	{
		z-index: 81;
		height: 63px;
		width: 120px;
		margin-top: 10px;
		position: relative;
		margin-left: 50%;
		left: -60px;
	}

	#u480
	{
		z-index: 84;
		height: 63px;
		width: 120px;
		margin-top: 10px;
		position: relative;
		margin-left: 50%;
		left: -60px;
	}

	#u445
	{
		z-index: 75;
		height: 62px;
		width: 120px;
		margin-top: 10px;
		position: relative;
		margin-left: 50%;
		left: -60px;
	}

	#u446
	{
		z-index: 78;
		height: 62px;
		width: 120px;
		margin-top: 10px;
		position: relative;
		margin-left: 50%;
		left: -60px;
	}

	#accordionu251,#accordionu251-bw
	{
		z-index: 65;
	}

	#u161
	{
		z-index: 86;
	}

	#u161:hover
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	#pu632
	{
		margin-bottom: -13px;
		margin-top: 35px;
	}

	#u632,#u632-bw
	{
		height: 140px;
	}

	#u710-6
	{
		width: 340px;
		left: 1.45%;
	}

	#u698
	{
		width: 124px;
		left: -158px;
	}

	#u640
	{
		width: 51px;
		left: -51px;
	}

	#u645
	{
		left: -51px;
	}

	#u645:hover
	{
		left: -51px;
	}

	#u694-4
	{
		left: -124px;
	}

	#widgetu1083
	{
		margin-top: 1px;
		left: -176px;
	}

	#widgetu1088
	{
		width: 340px;
	}

	#widgetu1088.fld-err-st
	{
		width: 340px;
	}

	#u1091-4
	{
		margin-top: 13px;
		left: 121px;
	}

	#widgetu1088.fld-err-st #u1091-4
	{
		margin-top: 13px;
	}

	#u1087-21
	{
		left: 349px;
	}

	body
	{
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 375px;
	}
}

