	#u100
	{
		background: -webkit-gradient(linear, left center, right center, from(#001510),color-stop(100%, #00BF8F));
		background: -webkit-linear-gradient(left,#001510 ,#00BF8F 100%);
		background: linear-gradient(to right,#001510 ,#00BF8F 100%);
	}

	#u100:hover
	{
		background: -webkit-gradient(linear, left center, right center, from(#001510),color-stop(100%, #00BF8F));
		background: -webkit-linear-gradient(left,#001510 ,#00BF8F 100%);
		background: linear-gradient(to right,#001510 ,#00BF8F 100%);
	}

	#u237
	{
		vertical-align: top;
	}

	#u237_states
	{
		float: left;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u237_states.png") no-repeat 0px 0px;
	}

	#u237:hover #u237_states
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u237_states-r.png") no-repeat 0px 0px;
	}

	#u238
	{
		vertical-align: top;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u238.png") no-repeat 0px 0px;
	}

	#u238:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u238-r.png") no-repeat 0px 0px;
	}

	#u245
	{
		vertical-align: top;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u245.png") no-repeat 0px 0px;
	}

	#u245:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u245-r.png") no-repeat 0px 0px;
	}

	#u137
	{
		vertical-align: top;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u137.png") no-repeat 0px 0px;
	}

	#u137:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u137-r.png") no-repeat 0px 0px;
	}

	#u103
	{
		vertical-align: top;
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u103.png") no-repeat 0px 0px;
	}

	#u103:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: transparent url("../images/u103-r.png") no-repeat 0px 0px;
	}

	#u632
	{
		background-color: #ECEBEB;
		background-color: rgba(232,230,230,0.8);
	}

	#u248,#u236,#u143,#u1126
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1069-5
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		line-height: 18px;
		font-size: 18px;
	}

	#u1069
	{
		text-align: left;
	}

	#u1069-3
	{
		text-align: center;
	}

	#u1077-5
	{
		-webkit-transition-duration: 0s;
		-webkit-transition-delay: 0s;
		transition-duration: 0s;
		transition-delay: 0s;
		background-image: url("../images/blank.gif");
		background-color: transparent;
		font-size: 18px;
		text-align: center;
		line-height: 16px;
	}

	#u1069-5:hover,#u1077-5:hover
	{
		-webkit-transition-duration: 1s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: linear;
		transition-duration: 1s;
		transition-delay: 0s;
		transition-timing-function: linear;
		-pie-box-shadow: none;
		box-shadow: none;
		background-color: #6A6A6A;
	}

	#u1069-5:hover p,#u1077-5:hover p
	{
		font-size: 18px;
	}

	#u100_align_to_page,#u632_align_to_page,#u616_align_to_page
	{
		max-width: 1200px;
	}


